@import '../../../styles/vars.scss';

.header {
  display: flex;
  height: 72px;

  .logo__wrapper {
    width: 140px;

    margin-top: 11px;
    margin-right: 52px;

    .logo__text {
      margin-top: 10px;

      font-family: Montserrat;
      font-size: 10px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 910px) {
  .header {
    justify-content: space-between;
    .logo__wrapper {
      margin-right: 24px;
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    align-items: center;
    justify-content: center;
    height: 55px;

    padding: 20px 5px;

    .logo__wrapper {
      display: none;
    }
  }
}
