$text-light: #e4e5ea;
$text-dark: hsl(240, 0%, 40%);

$bgc-black: #0e1014;
$btn-color: #4077f3;

$gradient-underline: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(255, 63, 120, 1) 35%
  )
  47% 0%;

$gradient-text: linear-gradient(
  90deg,
  rgba(252, 176, 69, 1) 0%,
  rgba(255, 63, 120, 1) 35%
);
