@import '../../styles/vars.scss';

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 21px 34px;

  transition: opacity 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    color: $text-light;
    background-color: $btn-color;
  }

  &.m {
    width: 262px;
  }

  &.fullW {
    width: 100%;
  }
}
